@model IndexViewModel



<div class="container-fluid mb-3">
    @Html.Partial("_carouselPartial")
</div>
<!-- Carousel End -->


@Html.Partial("_featurePartial")


@Html.Partial("_categoriesPartial")

@Html.Partial("_productPartial",Model.Products)


@Html.Partial("_offerPartial")


@Html.Partial("_productPartial",Model.Products)


@Html.Partial("_vectorPartial")