<div class="container-fluid mb-3">
    @Html.Partial("_carouselPartial")
</div>
<!-- Carousel End -->


@Html.Partial("_featurePartial")


@Html.Partial("_categoriesPartial")

@Html.Partial("_productPartial","Feature Product")


@Html.Partial("_offerPartial")


@Html.Partial("_productPartial","Recent Product")


@Html.Partial("_vectorPartial")